body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.calculator {
    background-color: rgb(39, 38, 38);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    border: none;
    background-color: rgb(97, 95, 95) ;
    color: white;
    font-size: 80px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0,0%,50%);
    font-size: 40px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}

button:hover {
    background-color: rgb(185, 181, 181);
}

.operand-btn {
    background-color: rgb(255, 165, 0);
}

.operand-btn:hover {
    background-color: rgb(247, 158, 85);
}

